<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Mi App{% endblock %}</title>
  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='adminlte/plugins/fontawesome-free/css/all.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='adminlte/dist/css/adminlte.min.css') }}">
</head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    {% block content %}{% endblock %}
  </div>

  <!-- JS -->
  <script src="{{ url_for('static', filename='adminlte/plugins/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='adminlte/dist/js/adminlte.min.js') }}"></script>
</body>
</html>
